body {
    font-family: Futura;
    color: #333; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em
}

a {
    text-decoration: underline;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em
}

h1, h2, h3 {
    line-height: 1.5em;
}

h1 {
    font-size: 2.5em;
    color: #444;
}

h2 {
    font-size: 2em;
    color: #555;
}

h3 {
    font-size: 1.5em;
    color: #666;
}

div {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img, video {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    img, video {
        animation: none !important;
        opacity: 1;
    }

    img[src$=".gif"] {
        display: none !important;
    }
}

.highlight {
    background-color: #ffff;
    text-decoration: underline;
}

a[href="#main"] {
    position: absolute;
    left: -9999px;
}

a[href="#main"]:focus {
    position: static;
    left: auto;
}

a:focus {
    outline: 2px solid black;
}